button:not([data-slot="checkbox"]) {
  @apply px-4 py-2 rounded-md;
}


.card {
  @apply p-4 rounded-lg shadow-md;
}

/* Hover/Focus states */
button:hover {
  @apply bg-secondary;
}

button:focus {
  @apply ring ring-1 ring-ring;
}

