@import "tailwindcss";
@import "tw-animate-css";
@import "./base.css";
@import "./theme.css";
/* @import "./theme2.css"; */
@import "./components.css";

@keyframes strokeFlow {
  0% {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dasharray: 40 200;
    stroke-dashoffset: -200;
  }
}

.animate-strokeFlow {
  animation: strokeFlow 3s linear infinite;
}
