@import "tailwindcss";
@import "tw-animate-css";
@import "./styles/base.css";
@import "./styles/theme.css";
/* @import "./theme2.css"; */
@import "./styles/components.css";

@keyframes strokeFlow {
  0% {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dasharray: 40 200;
    stroke-dashoffset: -200;
  }
}

.animate-strokeFlow {
  animation: strokeFlow 3s linear infinite;
}

@theme inline {
  --animate-ripple: ripple var(--duration,2s) ease calc(var(--i, 0)*.2s) infinite;
  @keyframes ripple {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}